body { 
    margin: 0px; 
    background-color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.main-background {
    background-image: url("assets/bekah.jpg");  
    background-size: cover; 
    background-position: center; 
    height: 768px; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
}

.main-background2 {
    background-image: url("assets/bekah.jpg"); 
    height: 50px; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    margin-bottom: 0px; 
}

a {
    color: white; 
    text-decoration: none; 
}

a:hover {
    color: gray;
}
h1 {
    background-color: white; 
    font-family: 'Roboto', sans-serif; 
    padding: 16px; 
    margin: 0px; 
    width: 100%;
    text-align: center;  
    color: black; 
    letter-spacing: 8px;
}

.menu {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-content: space-between;  
    width: 100%; 
    margin-top: 0px; 
}

.menu-items {
    color: white; 
    padding: 16px; 
    align-content: space-between; 
    font-family: 'Roboto', sans-serif;
}

.button-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  
    height: 750px; 
}
.cool-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em; 
    color: white; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 8px;
}

.button2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em; 
    color: white; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    border: 2px solid white; 
    padding: 12px 20px;
}

.button-tag:hover {
    color: black; 
    background-color: white;  
    transition: ease-in .3s;  
}

.button2:hover {
    color: black; 
    transition: ease-in .3s; 
}

.second {
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    height: 800px; 
    justify-content: center; 
}

.second-items {
    height: 848px;
    width: 50%; 
    margin: 64px; 
}

.secondimage1 {
    background-image: url("assets/succs.jpg"); 
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 32px; 
}

.secondimage2 {
    background-image: url("assets/wdch.jpg");
    background-position: center; 
    background-size: auto;
    margin-left: 32px; 
}

.third {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    height: 0px; 
    justify-content: right; 
    align-items: center; 
    background-color: rgba(255, 255, 255, 0); 
}

.quote-container {
    border: 2px solid gray; 
    padding: 32px; 
    text-align: center; 
    display: flex; 
    flex-direction: column;
    position: relative; 
    bottom: 120px; 
    margin: 64px; 
    width: 100%; 
    background-color: white; 
}
.quote {
    font-family: 'Roboto', sans-serif;
    margin: 2px; 
}

#steinbeck {
    color: gainsboro; 
}

.social {
    position: fixed; 
    bottom: 0px; 
    margin: 0px; 
    width: 100%; 
    display: flex; 
    background-color: white; 
    flex-direction: row;
    justify-content: center;
}

.social-items { 
    font-family: 'Roboto', sans-serif; 
    padding: 8px; 
}

.socialtags {
    color: black; 
}

.socialtags:hover {
    color: gray; 
}

/* gallery css */ 
.gallery-menu {
    display: flex; 
    flex-direction: row; 
    background-color: white; 
    font-family: 'Roboto', sans-serif; 
    width: 100%; 
    justify-content: center;
}

.gallery-items {
    background-color: gainsboro; 
    padding: 24px;
    margin: 4px; 
    margin-top: 8px; 
    height: 624px;
    width: 400px; 
    display: flex;
    justify-content: center;
    flex-shrink: 1; 
    flex-grow: 1;
}

.galtags {
    color: white;
}

.galtags:hover {
    color: gray; 
}

.best2017 {
    background-image: url("assets/2017best.jpg");
    background-position: 40%; 
    background-size: 850px; 
    background-repeat: no-repeat; 
    margin-left: 8px; 
}

.best2018 {
    background-image: url("assets/2018best2.jpg");
    background-position: 20%; 
    background-size: 750px; 
    background-repeat: no-repeat; 
}

.best2019 {
    background-image: url("assets/2019best2.jpg");
    background-position: center; 
    background-size: 900px; 
    background-repeat: no-repeat; 
    margin-right: 8px; 
}

.rhythmico-container {
    display: flex; 
    flex-wrap: wrap; 
}

.container2017 {
    margin: .25em; 
    display: grid; 
    grid-template-columns: .25fr 1fr .25fr;
    grid-auto-rows: minmax(auto 100px);  
    grid-gap: .25em; 
}

.container2017 > div {
    background-color: gray; 
    font-family: 'Roboto', sans-serif; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-content: center;
    align-items: center; 
}

.image2017no1 {
    background-image: url(/assets/2017one.JPG); 
    background-size: 100%; 
    height: 250px; 
    background-position: center; 
    grid-column: 2; 
}

.image2017no2 {
    background-image: url(/assets/2017two.JPG); 
    background-size: 100%; 
    height: 300px; 
    background-position: center; 
    grid-column: 2; 
}

.image2017no3 {
    background-image: url(/assets/2017three.JPG); 
    background-size: 100%; 
    height: 300px; 
    background-position: center; 
    grid-column: 2; 
}

.image2017no5 {
    background-image: url(/assets/2017five.JPG); 
    background-size: 100%; 
    height: 400px; 
    background-position: center; 
    grid-column: 2; 
}

.image2017no6 {
    background-image: url(/assets/2017six.JPG); 
    background-size: 100%; 
    height: 300px; 
    background-position: center; 
    grid-column: 2; 
}

.image2017no7 {
    background-image: url(/assets/2017seven.JPG); 
    background-size: 100%; 
    height: 400px; 
    background-position: center; 
    grid-column: 2; 
}

.image2017no8 {
    background-image: url(/assets/2017eight.JPG); 
    background-size: 100%; 
    height: 400px; 
    background-position: center; 
    grid-column: 2; 
}

.image2017no9 {
    background-image: url(/assets/2017nine.JPG); 
    background-size: 100%; 
    height: 400px; 
    background-position: center; 
    grid-column: 2; 
}

.image2017no10 {
    background-image: url(/assets/2017eleven.JPG); 
    background-size: 100%; 
    height: 300px; 
    background-position: center; 
    grid-column: 2; 
}

.image2017no11 {
    background-image: url(/assets/2017twelve.JPG); 
    background-size: 100%; 
    height: 400px; 
    background-position: center; 
    grid-column: 2; 
}

.image2017no12 {
    background-image: url(/assets/2017twenty.JPG); 
    background-size: 100%; 
    height: 550px; 
    background-position: center; 
    grid-column: 2; 
}

.selected-nav {
    color: gray; 
}

/* rhythmico css */ 
.rhythmico-container { 
    display: grid;
    grid-gap: .25em; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-auto-rows: minmax(100px auto);
    position: relative; 
    height: 0px; 
    max-width: 100%; 
    margin: .25em; 
}

.rhythmico-container > div { 
    background-color: gainsboro; 
    height: 200px; 
    width: 200px;  
    display: flex; 
}

.rhythmico-text1 { 
    grid-column: 1/3; 
    grid-row: 1/2; 
}

.rhythmico-image1 { 
    grid-column: 3/4; 
    grid-row: 1/2; 
}

.rhythmico-image2 { 
    grid-column: 1/2; 
    grid-row: 2/3; 
}

.rhythmico-text2 { 
    grid-column: 2/4; 
    grid-row: 2/3; 
}
